.main{
    width: 100%;
    height: 100%;
    min-width: 600px;
    position: absolute;
    background-color: #f5f5f5;
    
}
.top{
    width: 100%;
    height: 100px;
    float: left;
    background: url("../images_shop/top.png") no-repeat;
    background-size: 100% 120px;
}
.center{
    width: 100%;
    height: 280px;
    float: left;
}
.floor{
    width: 100%;
    height: 100px;
    float: left;
    margin-top:10px;
    background-color: #ffffff;
}
.bottom{
    width: 100%;
    height: auto;
  	margin-top:10px;
    float: left;
}
.top_left{
    width: 30%;
    height: 100px;
    float: left;
}
.top_center{
    width: 40%;
    height: 100px;
    float: left;
    text-align: center;
}
.top_center p{
    font-size: 25px;
    color: #ffffff;
}
.top_right{
    width: 30%;
    height: 100px;
    float: left;
}
.floor_left{
    width: 33.33%;
    height:100px;
    float: left;
    text-align: center;
}
.floor_center{
    width: 33.33%;
    height: 100px;
    float: left;
    text-align: center;
    border-left:1px solid #D5D5D5;
    border-right:1px solid #D5D5D5;
}
.floor_right{
    width: 33.33%;
    height: 100px;
    float: left;
    text-align: center;
}
.top_right img{
    width: 4em;
    height: 4em;
    max-width:80px;
    max-height: 80px;
    margin-top: 15px;
    margin-right: 15px;
    float: right
}
.floor_left p{
    font-size: 25px;
   color: #449d44;
}
.floor_center p{
    font-size: 25px;
    color: #000000;
}
.floor_center marquee{
	font-size:25px;
	color:#E8AC95;
}
.top_center p{
    font-size: 25px;
    color: #ffffff;
}
.top_center marquee{
	font-size:25px;
	color:#ffffff;
}
.floor_right p{
    font-size: 28px;
    color: #000000;
}
.floor_right p img{
   width: 60px;
    height: 60px;
}

.bottom_content{
    width: 100%;
    height: auto;
    float: left;
}
.bottom_content p{
    width: 100%;
    height: 80px;
    float: left;
    background-color: #ffffff;
}
.span_title{
    font-size: 35px;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}
.span_next{
    float: right;
    margin-right: 30px;
}
.span_next img{
  width: 30px;
    height: 50px;
    margin-top: 15px;
}
.span_img{
    float: left;
    margin-left: 20px;
	margin-top: 10px;
}
.span_img img{
    width: 55px;
    height: 55px;
}
.food_info{
    width:100%;
    height:auto ;
    float: left;
    margin-top:8px;
    border-bottom:solid 1px #CDCDCD;
    background-color: #ffffff;
}
.food_info_left{
    width:30%;
    height:auto ;
    float: left;
}
.food_info_center{
    width:30%;
    height:auto ;
    float: left;
}
.food_info_right{
    width:40%;
    height:auto ;
    float: left;
}
.kuankuan{
    width: 2.5em;
    height: 3.5em;
    margin-right: 1em ;
    display:block;
    float:right;
    font-size:2.2em;
    color:green;
    padding-left:0.2em;
    text-align:center;
}

