.main{
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    background-color: #ffffff;
}
.main_info{
     width: 400px;
    height: 400px;
    float: right;
    margin-top: 50px;
    margin-right: 150px;
    background-color: #FFFFFF;
    border: solid 1px #A0B1C4;
}
.top{
    width: 100%;
    height: 70px;
    float: left;
    background-color: #EFF4FA;
}
.left{
    width: 400px;
    height: 400px;
    float: left;
    margin-top: 50px;
    margin-left: 150px;
}
.login_top{
     width: 100%;
     height: 100px;
     float: left;
 }
.login_center{
    width: 100%;
    height: 200px;
    float: left;
}
.login_floor{
    width: 100%;
    height: 100px;
    float: left;
    text-align: center;
}
.login_info{
    width: 90%;
    margin: 15px auto;
}
.login_floor button{
    width: 80px;
    height: 40px;
    margin-top: 15px;
}