.main{
    width: 100%;
    height: 100%;
    position: absolute;
}
.top{
    width: 100%;
    height: 80px;
    float: left;
    background: url("/shop/image_gouWuCar/top.png") no-repeat;
    background-size: 100% 80px;
}
.top p{
    width: 100%;
    height: 80px;
    margin-top: 0px;
    text-align: center;
}
.span_image{
    float: left;
    margin-left: 20px;
}
.span_image img{
    width: 60px;
    height: 60px;
}
.span_person{
    display: block;
    margin-top: 10px;
    font-size: 40px;
    color: #ffffff;
}
.center{
    width:100%;
    height:auto ;
    float: left;
}
.food_info{
    width:100%;
    height:auto ;
    float: left;
}
.food_info_left{
    width:30%;
    height:auto ;
    float: left;
}
.food_info_center{
    width:40%;
    height:auto ;
    float: left;
}
.food_info_right{
    width:30%;
    height:auto ;
    float: left;
}
.kuankuan{
    width: 4em;
    height: 2.5em;
    margin-right: 1em ;
    display:block;
    float:right;
    background: url('/index/image_find/kuan.png') no-repeat;
    background-size: 4em 2.5em;
    text-align: center;
}